*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: Brush Script MT;
}

html > body{
    color: aliceblue;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 800% 800%;
	animation: gradientBG 10s ease infinite;
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.full-height {
    height: 100vh;
}
.title{
    font-size: 1000%;
    font-weight: 1000;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 25px;
}

.bottom-left {
    position: absolute;
    left: 15px;
    bottom: 25px;
    font-size: 30px;
}
.content {
    text-align: center;
}

.links > a {
    color: #f9f9fa;
    padding: 0 25px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.links > a:hover{
    color: #0f4c63;
}